.header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:30px 0px;

}

.header .header__title {
	font-size: 24px;
	font-weight: 600;
}

.header i{
	font-size:20px;
	margin-left: 16px;
	cursor:pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}